@import '../../shared/sass/base/variables';
@import '../../shared/sass/base/px-em';

.tweets {
    max-width: 1100px;
    margin: 0 auto;
}

.tweet-container {
    background-color: $white;
    border: $base-border;
    border-radius: $base-border-radius;
    border-top: 4px solid $action-color;
    margin: $small-spacing/2 0;
    overflow: auto;
    padding: $small-spacing;
    position: relative;
    width: 100%;
    &__profile-image {
        border-radius: 50%;
        border: 2px solid $light-gray;
        float: left;
        margin-right: $small-spacing;
    }
    &__user-name {
        font-size: em(15);
        font-weight: bold;
    }
    &__date {
        color: $dark-gray;
        font-size: em(14);
        margin-left: $small-spacing;
    }
    &__media-image {
        border-radius: $base-border-radius;
        margin-top: 1em;
    }

}
